@import "variables";

// Estilos del header
.header {

    &__nav {
        background-color: $color-negro;

        .logo {
            width: 125px;
        }

        .navbar-nav {
            .linkActivo {
                font-weight: 600;
                color: $color-blanco;
            }
        }
    }
}