@import "variables";

@mixin bordes {
    border: #e1e1e1 solid 1px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

@mixin inputborde {
    text-indent: 6px;
    border: #ccc solid 1px;
    border-radius: 6px;
}

@mixin opacity-hover {
    transition: opacity 300ms;
    opacity: 80%;
}

@mixin gradient-azul {
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #007ac3 74%);
}

@mixin condicional($color){
    background-color: ($color);

    @if $color == #fff {
        border: 1px solid;
        border-radius: 6px;
    }
}