@import "variables";
@import "mixins";

// Estilos para celular
@media screen and (min-width: 320px) and (max-width: 480px) {
    
    // Carrusel 
    .carousel-item {
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
        }

        .carousel-caption {
            height: 100%;
            right: 0;
            left: 0;
            bottom: 0;
            padding-top: 75px;
            margin-bottom: 0;
            border-radius: 6px;
            background: rgba(0, 0, 0, 0.3);
    
            p {
                font-size: 1.2rem;
                font-weight: 600;
                color: #fff;
                padding: 20px 50px;
                margin: 0;
            }
        }
    }

    // Primera seccion de la página principal
    .principal {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 0;

        &__texto {
            
            h1 {
                font-size: 32px;
                font-weight: 700;
            }

            p {
                margin: 0;
            }

            button {
                margin-top: 12px;
            }
        }

        &__imagen {
            img {
                width: 100%;
                margin-top: 20px;
            }
        }
    }

    // Beneficios
    .beneficios {
        flex-direction: column;
        align-items: center;
        margin-top: 60px;

        &__item:not(:last-of-type) {
            margin-bottom: 15px;
        }
    }

    // Productos destacados
    .destacados {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .tarjeta {
            margin-top: 10px;
        }
    }

    // Descuentos
    .descuentos {
        background-color: #e7e7e7;
        width: 100%;
        height: 250px;

        &__imagen {
            img {
                opacity: 0%;
                }
        }

        &__texto {
            position: absolute;
            left: 0;
            top: 20px;
            text-align: center;
            padding: 20px;
        }
    }

    // Botón de Whatsapp
    .float{
        position:fixed;
        bottom:20px;
        right:20px;
    }

    // Marcas 
    .marcas {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        &__lista {
        flex-direction: column;
        align-items: center;

            img {
                width: 100px;
            }
        }
    }

    // Footer
    .footer {

        &__arriba {
            padding: 25px;
        }

        &__newsletter {

            h3 {
                font-size: 15px;
            }

            input {
                width: 280px;
                margin-bottom: 10px;
            }
        }

        &__redes {
            justify-content: center;

            div {
                margin: 0;
            }
        }

        &__secciones {
            ul {
                justify-content: space-evenly;
                padding: 0 35px;

                a {
                    margin: 0;
                }
            }
        }
    }

    // Seccion equipos
    .equipos {
        padding-top: 0;
        padding-bottom: 40px;
        margin-top: 40px;
        margin-bottom: 40px;

        &__descripcion {
            
            p {
                margin: 0;
            }

            button {
                margin-top: 12px;
            }
        }

        &__imagen {
            img {
                width: 100%;
                margin-top: 20px;
            }
        }
    }

    .menuCategorias {
        align-items: center;
        justify-content: center;

        p {
            margin-top: 10px;
        }
        
        #myBtnContainer {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            padding: 15px;
            margin: 0;
        }

        button {
            margin-bottom: 10px;
        }
    }
        
    .catalogo {

        &__producto {
            
            img {
                width: 200px;
            }
        }
    }

    // Sección servicios
    .servicios{
        
        &__descripcion:not(:last-of-type) {
            margin-bottom: 40px;
        }
    }

    .videoDeServicios {
        iframe {
            width: 100%;
            padding: 0 20px;
        }
    }

    // Seccion nosotros
    .nosotros {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 250px 1fr;
        grid-template-areas: "nosotros__imagen"
                            "nosotros__texto";
        align-items: center;
        margin: 20px 0;
    
        &__imagen {
            grid-area: "nosotros__imagen";
            img {
                width: 100%;
                border-radius: 6px;
                margin-bottom: 40px;
            }
        }
    
        &__texto {
            grid-area: "nosotros__texto";
            width: 100%;
    
            p {
                padding: 0 20px;
                margin: 0;
            }
        }
    }

    .nosotrosParrafo {
        font-size: 22px;
        padding: 20px 0;
        margin: 40px;
    }

    .nosotrosCont {
        width: 100%;
        height: 450px;
    }

    .nosotrosPie {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr;
        grid-template-areas: "nosotros__texto"
                            "nosotros__imagen";
        padding: 10px;
        margin: 0;

        &__texto {
            width: 100%;
        }

        &__imagen {
            img {
                width: 100%;
            }
        }
    }

    .contacto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 550px;
        grid-template-areas: "formulario" 
                            "informacion";
        padding: 20px 0;
        margin-top: 20px;

        &__formulario {
            grid-area: "formulario";
            padding:0 20px;
            width: 100%;
        }

        &__informacion {
            .infoHorarios {
                width: 100%;
            }
        }
    }
}

// Estilos para tablet
@media screen and (min-width: 480px) and (max-width: 768px) {

    // Carrusel 
    .carousel-item {
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
        }
    }

    // Seccion de beneficios
    .beneficios {
        justify-content: space-evenly;
        align-items: center;

        &__item {
            margin-top: 20px;
        }
    }

    // Productos destacados
    .destacados {
        justify-content: space-evenly;

        .tarjeta {
            margin-top: 20px;
        }
    }

    // Seccion de descuentos
    .descuentos {

        &__texto {
            position: absolute;
            left: 390px;
            top: 0px;
            text-align: center;
            padding: 20px;

            p {
                padding-left: 60px;
                font-size: 16px;
                font-weight: 600;
                text-align: right;
            }
        }
    }

    // Catálogo de productos
    .menuCategorias {
        justify-content: center;

        p {
            margin-top: 10px;
        }

        #myBtnContainer {
            margin: 10px 0;
        }
    }

    .catalogo {
        justify-content: center;
    }

    // Sección servicios 
    .servicios {
        justify-content: space-evenly;
        &__descripcion {
            margin-top: 20px;
        }
    }

    // Seccion nosotros
    .nosotros {
        align-items: center;
        &__imagen {
            img {
                width: 350px;
            }
        }
        &__texto {
            width: 350px;
            padding: 0;
        }
    }
    
    .nosotrosParrafo {
        padding: 0 30px 80px 30px;
        
    }

    .nosotrosCont {
        width: 100%;
        height: 325px;
    }

    .nosotrosPie {
        height: auto;
        padding: 10px;

        &__texto {
            width: 100%;
        }

        &__imagen {
            img {
                width: 350px;
                padding: 0;
                margin-left: 20px;
            }
        }
    }

    // Contacto
    .contacto {
        &__formulario {
            padding: 0 20px;
        }

        &__informacion {
            .infoHorarios {
                width: 285px;
                padding: 20px 0;
            }
        }
    }

    // Footer
    .footer {

        &__arriba {
            padding: 30px;
        }
    }
}
